<%= error_messages_for @news_1 %>

<div class="box tabular">
<p class="<%= (@news.errors && @news.errors.has_key?(:title) ? 'with-errors' : '') %>">
  <%= f.text_field :title, :required => true, :size => 60 %>
  <% if @news.errors && @news.errors.has_key?(:title) %>
    <span class="error-msg"><%= @news.errors[:title].join(', ') %></span>
  <% end %>
</p>

<% if @project && @project.is_public %>
  <% initial_private = f.object.private.nil? ? false : f.object.private %>
  <p style="display: none;"><%= f.check_box :private, value: true, checked: initial_private %></p>
  <p>
    <%= radio_button_tag('news_private', true, initial_private, style: 'float: left; margin-top: 5px !important;') %>
    <%= label_tag('news_private_true', style: 'float: left; text-align: left; width: auto;') do %>
      <%= tag.i(class: 'fa fa-lock', style: 'margin-right: 5px;') %>
      <%= I18n.t('news_private') %>
    <% end %>
    <%= radio_button_tag('news_private', false, !initial_private, style: 'float: left; margin-top: 5px !important;') %>
    <%= label_tag('news_private_false', I18n.t('news_public'), style: 'float: left; text-align: left; width: auto;') %>
  </p>
<% else %>
  <p style="display: none;"><%= f.check_box :private, value: true, checked: true %></p>
<% end %>

<p><%= f.check_box :visible_in_timeline, value: (f.object.visible_in_timeline || true) %></p>
<p><%= f.check_box :notifications_disabled, value: (f.object.notifications_disabled || false) %></p>
<p><%= f.text_field :announcement_date, class: "datepicker", value: f.object.timeline_display_date('%d/%m/%Y') %></p>

<br/>
<p class="<%= (@news.errors && @news.errors.has_key?(:summary) ? 'with-errors' : '') %>">
  <%= f.text_area :summary, :cols => 60, :rows => 2 %>
  <% if @news.errors && @news.errors.has_key?(:summary) %>
    <span class="error-msg"><%= @news.errors[:summary].join(', ') %></span>
  <% end %>
</p>
<p><%= f.text_area :description, :required => true, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>
<p id="attachments_form"><label><%= l(:label_attachment_plural) %></label><%= render :partial => 'attachments/form', :locals => {:container => @news_1} %></p>
</div>

<%= wikitoolbar_for 'news_description' %>
