<%= error_messages_for @document %>

<div class="box tabular">
  <p><%= f.select :category_id, DocumentCategory.active.collect{|c| [c.name, c.id]}, {}, {class: "select2", :style => 'width: 200px; margin-bottom: 15px;'} %>
  </p>
  <% ActsAsTaggableOn::Tag.order(:name).each_with_index do |t, index| %>
    <p>
      <%= label_tag("document[tag_list]", t.name) %>
      <%= radio_button_tag("document[tag_list]", t.name, checked = (@document.tags.count == 0 && index == 0) ? true : (@document.tags.include?(ActsAsTaggableOn::Tag.where(name: t.name).first)), options = {}) %>
    <br/>
    </p>
  <% end %>
  <br/>
  <p><%= f.check_box :visible_in_timeline, {checked: @document.visible_in_timeline} %></p>
  <p><%= f.check_box :visible_to_public, {checked: @document.visible_to_public} %></p>
</div>

<%= render partial: 'documents/datacite/search' %>

<div class="box tabular" style="position: relative;">
  <p style="margin-bottom: 15px;">
    <%= f.check_box :hal, { checked: false, disabled: !@document.title.blank?, label: '', style: "float: left; margin-top: 5px !important;" } %>
    <label for="document_hal" style="float: left; text-align: left; width: auto;"><%= I18n.t("field_hal") %></label>
  </p>

  <%= render :partial => 'document_fields', :locals => {:f => f} %>

  <p><%= f.text_field :url_to %></p>
  <% if @document.new_record? %>
    <div class=" tabular">
    <p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form', :locals => {:container => @document} %></p>
    </div>
  <% else %>
    <div class=" tabular">
      <%= link_to_attachments @document %>
      <div class=" tabular">
        <p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form', :locals => {:container => @document} %></p>
      </div>
    </div>
  <% end %>


</div>



